{% extends "main/bace.html" %}
{% load static %}
{% load categories_tegs %}

{% block content %}
    <div class="row">
        {% for movie in categori %}
                <!-- Карта -->
                <div class="col-lg-4 col-md-6 p-4">
                    <div class="card border-primary rounded custom-shadow">
                        {% if movie.image %}
                            <img src="{{movie.image.url}}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url "catalog:movie" movie.slug %}">
                                <p class="card-title">{{movie.name}}</p>
                            </a>
                            <p class="card-text">{{movie.description|truncatechars:35}}</p>
                            <p class="product_id">id: {{movie.display_id}}</p>
                            <div class="d-flex justify-content-between">
                                <p><strong>{{movie.grade}}</strong></p>
                                <a href="#" class="btn">
                                    <img class="mx-1" src="{% static "deps/icons/comments.svg" %}" alt="Catalog Icon"
                                        width="32" height="32">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
 
    </div>
        <!-- Пагинация -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center my-4">
                <div class="custom-shadow d-flex">
                    <li class="page-item {% if not categori.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if categori.has_previous %}?{% change_params page=categori.previous_page_number %}{% else %}#{% endif %}"> Назад </a>
                    </li>
                    {% for page in categori.paginator.page_range %}
                        {% if page >= categori.number|add:-2 and page <= categori.number|add:2 %}                    
                            <li class="page-item {% if categori.number == page %} active {% endif %}">
                                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not categori.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if categori.has_next %}?{% change_params page=categori.next_page_number %}{% else %}#{% endif %}"> Следующая </a>
                    </li>
                </div>
            </ul>
        </nav>
{% endblock content %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white h5">Дипломная работа 2024</p>
        </div>
    </footer>
{% endblock footer %}
